In [11]:
import pandas as pd

df= pd.read_csv("pbp_arrests_2024_jan1_thru_oct31_2025.csv")
crime_levels= (
    df.groupby(['Neighborhood','ArrestCharge_Felony_Misdemeanor_Description']) #this groups the dataset by each neighborhood and the associated levels to the arrests made
        .size() # counts how many arrests in each group
        .unstack(fill_value=0) # gives each offense level it's own column and fills in blank/missing columns with 0
        .reset_index() # turns the index into normal columns
)
crime_levels['total']= crime_levels[['FELONY - F3', 'FELONY - F2','FELONY - F1','MISDEMEANOR - M3', 'MISDEMEANOR - M2', 'MISDEMEANOR - M1', 'INFRACTION - S', 'FELONY', 'MISDEMEANOR', 'INFRACTION']].sum(axis=1)
crime_levels_sorted= crime_levels.sort_values('total', ascending=True)
crime_levels_sorted
# the three rows above help to sort the crime levels and their values into an easily comprehendible form

# based on this dataset and information, Chartiers and Swisshelm Park have the least arrests made for all levels of crime

ArrestCharge_Felony_Misdemeanor_Description,Neighborhood,FELONY,FELONY - F1,FELONY - F2,FELONY - F3,INFRACTION,INFRACTION - H1,INFRACTION - S,MISDEMEANOR,MISDEMEANOR - M1,MISDEMEANOR - M2,MISDEMEANOR - M3,total
20,Chartiers,0,2,0,0,0,1,0,2,0,5,0,9
82,Swisshelm Park,0,0,0,0,0,0,3,4,0,1,1,9
67,Ridgemont,0,3,0,0,0,0,3,3,1,1,0,11
68,Saint Clair,0,1,1,1,0,0,1,3,2,2,2,13
66,Regent Square,0,0,1,1,0,0,7,6,0,1,2,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...
43,Knoxville,22,54,85,59,1,4,123,162,69,146,27,748
15,Carrick,24,34,64,89,0,2,132,128,98,205,71,845
25,East Allegheny,104,55,52,71,1,5,172,534,66,141,105,1301
72,South Side Flats,68,74,125,251,3,1,591,580,184,320,248,2444
16,Central Business District,179,82,105,271,14,1,702,1363,239,534,506,3995